.searchbar1::-webkit-input-placeholder {
  text-align: center;
  font-size: 14px;
}

.searchbar2::-webkit-input-placeholder {
  text-align: left;
  font-size: 14px;
}

.searchbar1::-moz-placeholder {
  text-align: center;
  font-size: 14px;
}

.searchbar2::-moz-placeholder {
  text-align: left;
  font-size: 14px;
}